node-red/flows.json
[{"id":"2f002ab2.338c26","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ada1cf65.c0712","type":"file in","z":"2f002ab2.338c26","name":"","filename":"/data/cards.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":120,"y":80,"wires":[["f8cac6d2.3130d8"]]},{"id":"a6048079.59dea","type":"inject","z":"2f002ab2.338c26","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["ada1cf65.c0712"]]},{"id":"f8cac6d2.3130d8","type":"json","z":"2f002ab2.338c26","name":"","property":"payload","action":"","pretty":false,"x":130,"y":120,"wires":[["90c4419c.838c9"]]},{"id":"90c4419c.838c9","type":"function","z":"2f002ab2.338c26","name":"","func":"msg.payload = msg.payload.map(card => card[\"編號\"])\nreturn msg","outputs":1,"noerr":0,"x":170,"y":160,"wires":[["f1e28f7b.d5325"]]},{"id":"b0e0b5b2.2b2cf8","type":"http request","z":"2f002ab2.338c26","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://www.mozcardfinder.com/MOZ/{{payload}}.jpg","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":320,"wires":[["5b1198f7.0fe828","1710bbfa.acb5e4"]]},{"id":"5b1198f7.0fe828","type":"image","z":"2f002ab2.338c26","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"x":680,"y":120,"wires":[]},{"id":"1710bbfa.acb5e4","type":"file","z":"2f002ab2.338c26","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":610,"y":60,"wires":[[]]},{"id":"f1e28f7b.d5325","type":"split","z":"2f002ab2.338c26","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":230,"y":200,"wires":[["89894edf.6c88e"]]},{"id":"89894edf.6c88e","type":"function","z":"2f002ab2.338c26","name":"","func":"msg.filename = `/data/cards/${msg.payload}.jpg`\nreturn msg","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["ad237baa.e3e8b8"]]},{"id":"ad237baa.e3e8b8","type":"delay","z":"2f002ab2.338c26","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":280,"wires":[["b0e0b5b2.2b2cf8"]]},{"id":"81d17a26.de3988","type":"debug","z":"2f002ab2.338c26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":120,"wires":[]},{"id":"f5b2c0e1.e8f53","type":"catch","z":"2f002ab2.338c26","name":"","scope":null,"uncaught":false,"x":300,"y":60,"wires":[["1710bbfa.acb5e4","81d17a26.de3988"]]}]